<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User events:</strong>
  <br>
  <tbody>
    <% @event.each do |event| %>
      <tr>
        <%= event.initial_date %>
        <%= event.end_date %>
        <%= event.location %>
        <%= event.description %><br>
      </tr>
    <% end %>
  </tbody>
  <tbody>
    <% current_user.id do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</p>

<p>

  <strong>User events to attend to:</strong>
  <br>
  <tbody>
  <%  current_user.attended_events.each do |attend| %>
    <li ><%= attend.description %></li>
    <% end %>
  </tbody>
  <tbody>
    <% current_user.id do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</p>

<p>
  <strong>Upcoming Events:</strong>
  <br>
  <% current_date =  DateTime.now %>
  <tbody>
    <% @event.future_events.each do |event| %>
          <%= event.initial_date %>
          <%= event.end_date %>
          <%= event.location %>
          <%= event.description %><br>
      </tr>
    <% end %>
  </tbody>
</p>

<p>
  <strong>Past Events:</strong>
  <br>
  <tbody>
    <% @event.past_events.each do |event| %>
          <%= event.initial_date %>
          <%= event.end_date %>
          <%= event.location %>
          <%= event.description %><br>
      </tr>
    <% end %>
  </tbody>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
