<h1>Events</h1>
<div class="container-fluid back-ground">

  <div class="d-flex ">
    <% @events.each do |event| %>
      <div class="card m-1" style="width: 18rem;">

        <div class="card-body">

          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            <%= event.initial_date %>
            <%= event.end_date %>

            <%= event.description %>
            <br>
          </p>
          <%= link_to 'Show', event_path(event.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <strong>Upcoming Events:</strong>
  <div class="d-flex ">

    <% @events.future_events.each do |event| %>
      <div class="card m-1" style="width: 18rem;">

        <div class="card-body">

          <h5 class="card-title"><%= event.location %></h5>
          <p class="card-text">
            <%= event.initial_date %>
            <%= event.end_date %>

            <%= event.description %><br>
          </p>
          <%= link_to 'Show', event_path(event.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <strong>Past Events:</strong>
  <div class="d-flex ">

    <% @events.past_events.each do |event| %>
      <div class="card m-1" style="width: 18rem;">

        <div class="card-body">

          <h5 class="card-title"><%= event.location %></h5>
          <p class="card-text">

              <%= event.initial_date %>
              <%= event.end_date %>

              <%= event.description %><br>
          </p>
          <%= link_to 'Show', event_path(event.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
