<p>
  <strong>Event:</strong>
  <%= @event.initial_date %>
  <%= @event.end_date %>
  <%= @event.location %>
  <%= @event.description %>
</p>

<strong>Attendees:</strong>


<%= link_to "Attend", attendances_create_path(event_id: @event.id) %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
