<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  


  <body>
  <nav class="navbar alert alert-dark">
     <span class="navbar-brand mb-0 h1">Private Events</span>
  <div id="user_header">
    <% if current_user %>
    <%= link_to 'New Event', new_event_path %>
      Welcome <%= link_to current_user.name, user_path(current_user.id) %>.
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %> or
      <%= link_to "Log In", login_path %>
    <% end %>
  </div>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert-#{key}") do %>
      <p><%= value %></p>
    <% end %>
  <% end %>
 
  </nav>
    <%= yield %>
  </body>
</html>
